<div class="contact-me" id="contact-me">
  <div class="container-fluid">
    <div class="row text-center">
      <h2>Contact</h2>
      <h3 class="pb-5">I'd Love to Connect with You!</h3>
      <div class="col-4">
        <h1>🖃</h1>
        <h3>Feel free to send me an email at:</h3>
        <h4>aMilesStanley@gmail.com</h4>
      </div>
      <div class="col-4">
        <h1>🕽</h1>
        <h3>Or give me a call (I'll do my best to get back to you ASAP):</h3>
        <h4>(828)-320-1897</h4>
      </div>
      <div class="col-4">
        <h1>🖹</h1>
        <h3>And here's my <a href="https://docs.google.com/document/d/1mYCGTqXfOc2vAQ57N5xyH4AY677xYPikEH9ATkUpRTE/edit?usp=sharing"><strong>resume</strong></a>.</h3>

      </div>
    </div>
  </div>
</div>
<footer class="footer-section" id="footer-section">
  <div class="container-fluid">
    <div class="row text-center pt-3">
      <a class="col-md-6 p-3" href="https://www.linkedin.com/in/miles-stanley-406ab3191/"><img src="images/LI-Logo.png" style="height: 60px;" /></a>
      <a class="col-md-6 p-3" href="https://github.com/milobyte"><img src="images/GitHub_Logo.png" style="height: 60px;" /></a>
      <p>©2022 MILES STANLEY</p>
    </div>
  </div>
</footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
