<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Miles Stanley</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar">
      <h1>Hello</h1>
    </nav>
    <div class="section section-dark">
      <div class="container">
        <img class="round-img" src="/ugly.jpg" alt="stinky">
        <h1>Miles Stanley</h1>
        <h3>Bachelors in Computer Science</h3>
      </div>
    </div>
    <div class="section section-dark-green">
    <h1>Lighter</h1>
    </div>
    <div class="section section-green">
    <h1>Even Lighter</h1>
    </div>
    <footer class="section-light-green">
      <h1>Lightest</h1>
    </footer>
  </body>
</html>
