h1, h2, h3{
  /* IMPORTANT for removing white space between divs */
  margin: 0;
  padding: 0;
}

p{
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

.retro-font{
  font-family: 'Press Start 2P', cursive;
}

/* .circle-img{
  border-radius: 50%;
  width: 70%;
  /* float: left; */


.body-content{
  display: block;
  background-color: #191A19;
}

.intro{
  padding: 25%;
  text-align: center;
  color: white;
  background-color: #191A19;
  font-family: 'Redressed', cursive;
}

.monkey-img{
  width: 5%;
  position: fixed;
}

.about-me{
  background-color: #191A19;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 5%;
}
.experience{
  background-color: #191A19;
  color: white;
  padding: 2%;
  font-family: 'Libre Baskerville', serif;
}

.list-group-custom .list-group-item {
  color: #fff;
  background-color: #191A19;
  border-top: 1px solid #fff;
  border-left-color: #191A19;
  border-right-color: #191A19;
}

.list-group-custom .list-group-item:hover {
  background-color: #1E5128;
}

.game-section{
  background-color: #1E5128;
  color: white;
}
.contact-me{
  padding: 14%;
  background-color: #4E9F3D;
  color: white;
  font-family: 'Quicksand', sans-serif;
}
.footer-section{
  background-color: #D8E9A8;
}

p.footer-section{
  color: black;
}

.round-img{
  border-radius: 50%;
}
