h1, h2, h3{
  /* IMPORTANT for removing white space between divs */
  margin: 0;
  padding: 0;
}

.body-content{
  font-size: 0;
  display: block;
}

.intro{
  margin: 20%;
  text-align: center;
}

.about-me{
  background-color: #191A19;
  color: white;
  text-align: center;
}
.experience{
  background-color: #1E5128;
  color: white;
}
.contact-me{
  background-color: #4E9F3D;
  color: white;
}
.footer-section{
  background-color: #D8E9A8;
  color: black;
}

.round-img{
  border-radius: 50%;
}
