.about-me{
  background-color: #191A19;
  color: white;
}
.experience{
  background-color: #1E5128;
  color: white;
}
.contact-me{
  background-color: #4E9F3D;
  color: white;
}
.footer-section{
  background-color: #D8E9A8;
  color: black;
}

.round-img{
  border-radius: 50%;
}
